{% extends "base.html" %}

{% block head_content %}
<title>Photosgram</title>
{% endblock %}

{% block container %}
    <div class="row">
        {% for post in posts %}
        <div class="col-lg-4 offset-lg-4">
            <div class="media">
            <a href="{% url 'users:detail' post.user.username %}">
                <img class="mr-3 rounded-circle" src="{{ post.profile.picture.url }}" height="35" alt="{{ post.user.get_full_name }}">
            </a>
                <div class="media-body">
                    <h5 class="mt-0">{{ post.user.get_full_name  }}</h5>
                </div>
            </div>
            <img class="img-fluid mt-3 border rounded" src="{{ post.photo.url }}" alt="{{ post.title }}">
            <p class="mt-1 ml-2">
                <a href="">
                    <i class="far fa-heart"></i>
                </a> 30 likes
            </p>
            <p class="ml-2 mt-0 mb-2">
                <b>{{ post.title }}</b> - <small>{{ post.created }}</small>
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}