{% extends "base.html" %}

{% block head_content %}
<title>Create new post</title>
{% endblock %}

{% block wrapper %}
<div class="card card-add-post">
    <h4 class="mb-4">Agrega una foto nueva!</h4>
    <form method="POST" action="{% url 'posts:create_post' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" name="user" value="{{ user.pk }}" />
        <input type="hidden" name="profile" value="{{ profile.pk }}" />

        <div class="form-group">
            <input
                class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                type="text"
                name="title"
                placeholder="Agregar descripción">
            <div class="invalid-feedback">
                {% for error in form.title.errors %} {{ error }} {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <input
                class="form-control {% if form.photo.errors %}is-invalid{% endif %}"
                type="file"
                name="photo"
                placeholder="photo">
            <div class="invalid-feedback">
                {% for error in form.photo.errors %}{{ error }}{% endfor %}
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn">Publicar!</button>
        </div>
    </form>
</div>
{% endblock %}