html, body {
    background: #fafafa;
    width: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

.navbar  {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: #fff;
    overflow: hidden;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.navbar-brand img {
    width: 35px;
    height: 35px;
}

.navbar-avatar img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.navbar ul li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
}

.navbar ul li a {
    color: #000;
    font-size: 1.2rem;
}