html, body {
    background: #fafafa;
    width: 100%;
    min-height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

figure {
    padding: 0;
    margin: 0;
}

hr {
    margin: 1rem auto;
}

.wrapper {
    max-width: 860px;
    margin: auto;
    padding: 1rem;
}

.img-rounded {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.navbar  {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: #fff;
    overflow: hidden;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.navbar-brand img {
    width: 35px;
    height: 35px;
}

.navbar ul li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
}

.navbar ul li a {
    color: #000;
    font-size: 1.2rem;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 #0000001a,0 1px 2px 0 #0000000f;
    margin-bottom: 2rem;
    padding: 1.5rem 0;
}

.card-head,
.card-description {
    padding: 0rem 1.5rem;
} 

.card-head {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.card-head figcaption {
    margin-left: 1rem;
    vertical-align: middle;
    font-weight: 500;
}

.card-description {
    font-size: .9rem;
    font-weight: 300;
}

.card-like {
    margin-top: 1rem;
    font-weight: 500;
    font-size: .8rem;
}

.card-like i {
    margin-right: .5rem;
    font-size: .9rem;
}

.card-date {
    color: #777;
    font-size: .75rem;
}

.card-add-post h4 {
    text-align: center;
}

.card-add-post form {
    max-width: 500px;
    margin: auto;
}

.form-group {
    display: block;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.form-control {
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.btn {
    display: block;
    color: #fff;
    font-weight: 500;
    background-color: #0d6efd;
    border-color: #0d6efd;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    width: 100%;
    cursor: pointer;
}

.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}

.detail {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 0;
}

.detail-avatar {
    width: 150px;
    height: 150px;
    margin-right: 2rem;
}

.detail-cta {
    border: 1px solid #198754;
    color: #198754;
    padding: .2rem .75rem;
    font-size: .75rem;
    border-radius: 1.5rem;
    vertical-align: middle;
    margin-left: 1rem;
}

.detail-data div {
    border-right: 1px solid #ccc;
    display: inline-block;
    padding: .5rem 1.25rem;
}

.detail-data div:first-child {
    padding-left: 0;
}

.detail-data div:last-child {
    border-right: none;
}

.detail-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .75rem;
}

.detail-posts .card {
    padding: 0;
}

.detail-posts .card img {
    object-fit: cover;
}