html, body {
    background: #fafafa;
    width: 100%;
    min-height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

figure {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 860px;
    margin: auto;
}

.img-rounded {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.navbar  {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: #fff;
    overflow: hidden;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.navbar-brand img {
    width: 35px;
    height: 35px;
}

.navbar ul li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
}

.navbar ul li a {
    color: #000;
    font-size: 1.2rem;
}

.feed {
    padding: 1rem;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 #0000001a,0 1px 2px 0 #0000000f;
    margin-bottom: 2rem;
    padding: 1.5rem 0;
}

.card-head,
.card-description {
    padding: 0rem 1.5rem;
} 

.card-head {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.card-head figcaption {
    margin-left: 1rem;
    vertical-align: middle;
    font-weight: 500;
}

.card-description {
    font-size: .9rem;
    font-weight: 300;
}

.card-like {
    margin-top: 1rem;
    font-weight: 500;
    font-size: .8rem;
}

.card-like i {
    margin-right: .5rem;
    font-size: .9rem;
}

.card-date {
    color: #777;
    font-size: .75rem;
}