{% load static %}
<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'posts:feed' %}">
            <img src="{% static "img/instagram.png" %}" alt="Fotosgram" />
        </a>
        <ul>
            <li class="nav-item">
                <a href="{% url 'users:detail' request.user.username %}">
                    {% if request.user.profile.picture %}
                        <img 
                            src="{{ request.user.profile.picture.url }}" 
                            alt="{{ request.user.username }}" 
                            class="img-rounded" />
                    {% else %}
                        <img 
                            src="{% static 'img/default-profile.png' %}" 
                            alt="{{ request.user.username }}" 
                            class="img-rounded" />
                    {% endif %}
                </a>
            </li>
            <li class="nav-item nav-icon">
                <a href="{% url 'posts:create_post' %}">
                    <i class="fas fa-plus"></i>
                </a>
            </li>
            <li class="nav-item nav-icon">
                <a href="{% url 'users:logout' %}">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>