{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>@{{ request.user.username }} | Update profile</title>
{% endblock %}

{% block wrapper %}
<div class="card update-profile">
    <form action="{% url 'users:update_profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="media">
            {% if profile.picture %}
                <img src="{{ profile.picture.url }}" class="img-rounded" />
            {% else%}
                <img src="{% static 'img/default-profile.png' %}" class="img-rounded" />
            {% endif %}

            <div class="media-body">
                <h5>@{{ user.username }} | {{ user.get_full_name }}</h5>
                <p><input type="file" name="picture" /></p>
                <div class="invalid-feedback">
                    {% for error in form.picture.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Website:</label>
            <input
                type="text"
                name="website"
                placeholder="Website"
                class="form-control {% if form.website.errors %}is-invalid{% endif %}"
                value="{% if form.errors %}{{ form.website.value }}{% else %}{{ profile.website }}{% endif %}"/>
            <div class="invalid-feedback">
                {% for error in form.website.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <label>Biography:</label>
            <textarea 
                class="form-control {% if form.biography.errors %}is-invalid{% endif %}" 
                name="biography">{% if form.errors %}{{ form.biography.value }}{% else %}{{ profile.biography }}{% endif %}</textarea>
            <div class="invalid-feedback">
                {% for error in form.biography.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <label>Phone number:</label>
            <input
                type="text"
                name="phone_number"
                placeholder="Phone number"
                class="form-control {% if form.phone_number.errors %}is-invalid{% endif %}" 
                value="{% if form.errors %}{{ form.phone_number.value }}{% else %}{{ profile.phone_number }}{% endif %}"/>
            <div class="invalid-feedback">
                {% for error in form.phone_number.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn">Update info</button>
        </div>
    </form>
</div>
{% endblock %}